In [1]:
# Q1 응답내역 분석

In [2]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [4]:
simple_list = []
for i in question:
  if '_' not in i:
    simple_list.append(i)

print(simple_list)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [5]:
# Q2 한스 로슬링

In [6]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [31]:
df.groupby(['Year','Country'])['Life_Expectancy'].mean().unstack()

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
1970        NaN    72.2     70.6           71.9   72.0  70.9
1971       72.8     NaN     70.8           71.9   72.9  71.2
1972        NaN     NaN     71.0            NaN   73.2  71.2
1973        NaN     NaN     71.3            NaN   73.4  71.4
1974        NaN     NaN     71.5            NaN   73.7  72.0
1975        NaN    73.0     71.4            NaN   74.3  72.7
1976       73.8     NaN     71.8            NaN   74.8  72.9
1977        NaN     NaN     72.5            NaN   75.3  73.3
1978        NaN     NaN     72.4            NaN   75.7  73.5
1979       75.1     NaN     72.8            NaN   76.2  73.9
1980       75.2    74.3     72.9           73.2   76.1  73.7
1981       75.5     NaN     73.2           73.8   76.5  74.1
1982       75.6     NaN     73.5           74.1   76.9  74.5
1983       75.9     NaN     73.8           74.3   77.0  74.6
1984       76.2     NaN     74.3           74.5   77.4  74.7
1985       76.3    75.4     75.0           74.7   77.6  74.7
1986       76.5     NaN     75.2           74.8   78.1  74.7
1987       76.7     NaN     75.6           75.2   78.5  74.9
1988       76.8     NaN     75.9           75.3   78.4  74.9
1989       77.1     NaN     76.0           75.4   78.8  75.1
1990       77.3    77.0     77.3           75.7   78.9  75.3
1991       77.6    77.2      NaN           75.9   79.1  75.5
1992       77.8    77.5     76.1           76.3   79.2  75.7
1993       77.8    77.5     76.1           76.2   79.4  75.5
1994       77.9    78.0     76.5           76.8   79.8  75.7
1995       78.0    78.1     76.6           76.7   79.6  75.7
1996       78.2    78.2     76.9           76.9   80.3  76.1
1997       78.3    78.6     77.3           77.2   80.5  76.5
1998       78.6    78.8     77.7           77.3   80.6  76.7
1999       78.8    78.9     77.9           77.5   80.5  76.7
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [15]:
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'str' = 'All', observed: 'bool' = False, sort: 'bool' = True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN. If True,
        rows with a NaN value in any column will be omitted before
        computing margins.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max      mean  min
    A   C
    bar large  5.500000   9  7.500000    6
        small  5.500000   9  8.500000    8
    foo large  2.000000   5  4.500000    4
        small  2.333333   6  4.333333    2

In [32]:
import numpy as np

pd.pivot_table(df, index='Year', columns = 'Country', values='Life_Expectancy',aggfunc=np.mean)

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
1970        NaN    72.2     70.6           71.9   72.0  70.9
1971       72.8     NaN     70.8           71.9   72.9  71.2
1972        NaN     NaN     71.0            NaN   73.2  71.2
1973        NaN     NaN     71.3            NaN   73.4  71.4
1974        NaN     NaN     71.5            NaN   73.7  72.0
1975        NaN    73.0     71.4            NaN   74.3  72.7
1976       73.8     NaN     71.8            NaN   74.8  72.9
1977        NaN     NaN     72.5            NaN   75.3  73.3
1978        NaN     NaN     72.4            NaN   75.7  73.5
1979       75.1     NaN     72.8            NaN   76.2  73.9
1980       75.2    74.3     72.9           73.2   76.1  73.7
1981       75.5     NaN     73.2           73.8   76.5  74.1
1982       75.6     NaN     73.5           74.1   76.9  74.5
1983       75.9     NaN     73.8           74.3   77.0  74.6
1984       76.2     NaN     74.3           74.5   77.4  74.7
1985       76.3    75.4     75.0           74.7   77.6  74.7
1986       76.5     NaN     75.2           74.8   78.1  74.7
1987       76.7     NaN     75.6           75.2   78.5  74.9
1988       76.8     NaN     75.9           75.3   78.4  74.9
1989       77.1     NaN     76.0           75.4   78.8  75.1
1990       77.3    77.0     77.3           75.7   78.9  75.3
1991       77.6    77.2      NaN           75.9   79.1  75.5
1992       77.8    77.5     76.1           76.3   79.2  75.7
1993       77.8    77.5     76.1           76.2   79.4  75.5
1994       77.9    78.0     76.5           76.8   79.8  75.7
1995       78.0    78.1     76.6           76.7   79.6  75.7
1996       78.2    78.2     76.9           76.9   80.3  76.1
1997       78.3    78.6     77.3           77.2   80.5  76.5
1998       78.6    78.8     77.7           77.3   80.6  76.7
1999       78.8    78.9     77.9           77.5   80.5  76.7
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

Q3.Markdown 이용하여 이번주 내용 정리하기

1. Pandas를 통한 파일 저장과 불러오기\
to_csv("파일명", index=False) : csv 파일로 저장하기 \
read_csv("파일명") : csv 파일 불러오기\
shape를 통한 행과 열의 수 보기\
head, tail, sample 을 통한 일부 데이터 가져오기

\\

2. DataFrame의 info(), describe() 등을 통한 요약과 기술통계 값 구하기\
info()\
describe()\
nunique()\
index\
columns\
values

\\
3. Pandas의 DataFrame과 Series의 이해\
Series : 1차원 벡터구조\
DataFrame : 2차원 행렬구조

\\
4. 색인하기[컬럼]\
.loc[행]\
.loc[행, 열]\
.loc[조건식, 열]

5. DataFrame의 데이터 타입 이해하기
날짜 데이터의 변환

\\

6. DataFrame 다루기\
열(column) 인덱싱\
행(index) 인덱싱\
행, 열 인덱싱\
정렬하기 : sort_values 사용하기\
조건식 사용하기

\\

7. 빈도수 구하기\
한 개의 변수 : series.value_counts()\
두 개의 변수 : pd.crosstab()\

\\

8. groupby 와 pivot_table\
다양한 연산식의 사용

In [37]:
# Q4. 공공데이터 불러오기

df = pd.read_csv('/content/서울교통공사_지하철혼잡도정보_20221231.csv', encoding='cp949')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1658 entries, 0 to 1657
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      1658 non-null   int64
 1   요일구분    1658 non-null   object
 2   호선      1658 non-null   int64
 3   역번호     1658 non-null   int64
 4   출발역     1658 non-null   object
 5   상하구분    1658 non-null   object
 6   5시30분   1622 non-null   float64
 7   6시00분   1648 non-null   float64
 8   6시30분   1648 non-null   float64
 9   7시00분   1648 non-null   float64
 10  7시30분   1648 non-null   float64
 11  8시00분   1648 non-null   float64
 12  8시30분   1648 non-null   float64
 13  9시00분   1648 non-null   float64
 14  9시30분   1648 non-null   float64
 15  10시00분  1648 non-null   float64
 16  10시30분  1648 non-null   float64
 17  11시00분  1648 non-null   float64
 18  11시30분  1648 non-null   float64
 19  12시00분  1648 non-null   float64
 20  12시30분  1648 non-null   float64
 21  13시00분  1648 non-null   float64
 22  13시30분  1648 non-null   float64
 23  14시00분  1648 non-null   float64
 24  14시30분  1648 non-null   float64
 25  15시00분  1648 non-null   float64
 26  15시30분  1648 non-null   float64
 27  16시00분  1648 non-null   float64
 28  16시30분  1648 non-null   float64
 29  17시00분  1648 non-null   float64
 30  17시30분  1648 non-null   float64
 31  18시00분  1648 non-null   float64
 32  18시30분  1648 non-null   float64
 33  19시00분  1648 non-null   float64
 34  19시30분  1648 non-null   float64
 35  20시00분  1648 non-null   float64
 36  20시30분  1648 non-null   float64
 37  21시00분  1648 non-null   float64
 38  21시30분  1648 non-null   float64
 39  22시00분  1648 non-null   float64
 40  22시30분  1648 non-null   float64
 41  23시00분  1648 non-null   float64
 42  23시30분  1638 non-null   float64
 43  00시00분  552 non-null    float64
 44  00시30분  552 non-null    float64
dtypes: float64(39), int64(3), object(3)
memory usage: 583.0+ KB

In [40]:
df.head(5)

,연번,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,6시30분,7시00분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,1,평일,1,150,서울역,상선,7.3,18.1,18.1,30.9,...,15.6,17.1,17.7,14.9,13.7,17.2,10.4,8.8,8.8,1.2
1,2,평일,1,150,서울역,하선,11.5,11.0,13.2,21.4,...,35.3,36.1,35.0,29.4,39.2,26.1,17.1,11.8,8.5,0.0
2,3,평일,1,151,시청,상선,6.6,15.4,14.7,25.0,...,19.1,20.7,21.8,17.5,18.5,18.4,14.9,11.5,7.0,2.8
3,4,평일,1,151,시청,하선,9.0,9.1,14.6,20.0,...,30.5,32.4,31.1,28.5,30.2,22.2,15.4,10.1,6.5,0.8
4,5,평일,1,152,종각,상선,6.3,14.4,10.7,17.6,...,26.8,25.2,29.7,22.6,26.1,24.0,19.7,14.6,9.6,4.2